.fv-file {
  flex: 0 0 7rem;
  margin: 0.125rem;
  padding: 0.125rem;
  border-radius: 0.25rem;
  list-style: none;
  cursor: pointer;

  &:hover,
  &:focus,
  &.is-editing,
  &.is-drop-target {
    background: #B3E5FC;
  }

  &-thumbnail {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    padding: 0.5em;
    width: 5em;
    height: 5em;
    color: #ccc;

    & > * {
      max-height: 100%;
      max-width: 100%;
      margin: auto;
    }

    & > i {
      font-size: 3rem;
    }
  }

  &.is-folder &-thumbnail {
    color: #2196F3;

    & > * {
      font-size: 4em;
    }
  }

  &.is-grandparent &-thumbnail {
    color: #DCE775;
  }

  &.is-detailed &-thumbnail {
    width: 3rem;
    height: 3rem;
    margin-left: -0.375rem;

    & > * {
      font-size: 2rem;
      margin: 0 auto;
    }
  }

  &-name {
    text-align: center;
    font-size: 0.75rem;
    padding: 0.125rem;
  }

  &.is-grandparent &-name {
    color: #999;
  }

  &.is-detailed &-name {
    text-align: left;
    padding: 0.125rem 0.75rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1;
  }

  &-input {
    resize: none;
    font: inherit;
    display: block;
    text-align: inherit;
    border: 1px solid black;
    margin: -0.125rem;
    padding: 0.125em;
    max-width: 6.75rem;
    overflow: hidden;
    height: 1.625em;
  }

  &.is-detailed &-input {
    margin: 0 -0.375rem;
    padding: 0.5rem 0.3125rem;
    max-width: none;
    width: calc(100% + 0.75rem);
  }

  &-info {
    text-align: right;
    padding-right: 0.75rem;
    font-size: 0.625rem;
    color: #888;

    & > span {
      display: inline-block;
      width: 6rem;
    }
  }

  &.is-folder.is-drop-target {
    animation: 0.25s 0.75s fv-file-flash linear;
  }

  &.is-detailed {
    display: flex;
    align-items: center;
    justify-content: start;
    flex: 0 0 2.5em;
    width: 100%;
  }

  &.is-selected {
    background: #81D4FA;
  }

  &.in-trash > * {
    opacity: 0.5;
  }

  &.is-dragging,
  &.is-ghost {
    opacity: 0.5;
  }
}
